
A:link {color: gray}

	

.icon {
  display: none;

}

.top-nav {
  /* background-color: black; */
  position: relative;
  top: 0;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  color: grey;
  padding-left: 20px;
}
.nav-links a:hover {
  text-decoration: overline; 
  color: teal
}
.nav-links .active {
  color: green;
  text-decoration: overline; 
}



Body {
	background-color: #E4E3E3;
	font-family: cambria;
	color: gray	
	}

H1 {font-size: 50pt; text-align: right}
H2 {font-size: 25pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace}

Table {
	width: 400px; 
	font-family: monospace; 
	color: white; 
	background-color: green;
	margin: .8em;
	border-color: darkgreen}


Form {
	font-family: monospace; 
	text-align: center; 
	color: white; 
	background-color: green}

@media screen and (max-width:480px ) {

  
  center img {
    width: 20%;
  }

  .rev {
    size: .5rem;
  }
  .rev form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .rev form > * {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  EM {
    width: 50%;
  }

  EM h1 {
    font-size: 15pt;
    display: block;
    align-items: center;
  }

  EM img {
    display: none;
  }

  
  EM > * {
    width: 50px;
    display: flex;
    justify-content: center;
  }


}
@media screen and (max-width: 768px ) {
  
  .icon {
    display: inline;
    position: absolute;
    top:0;
    right: 0;
    padding: 15px;
    background-color: black;
  }

  .top-nav {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    

  }



  

  .rev {
    size: .5rem;
  }
  .rev form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .rev form > * {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  EM {
    width: 50%;
  }

  EM h1 {
    font-size: 15pt;
    display: block;
    align-items: center;
  }


  
  EM > * {
    width: 50px;
    display: flex;

  }


}
@media screen and (max-width: 1200px ) {
  
  

  .rev {
    size: .5rem;
  }
  .rev form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .rev form > * {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  EM {
    width: 50%;
  }

  EM h1 {
    font-size: 15pt;
    display: block;
    align-items: center;
  }


  
  EM > * {
    width: 50px;
    display: flex;

  }


}
